/* :root {} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eef5ff;
  font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
  }
}