.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-label {
  font-size: 12px;
  font-weight: 400;
  color: #02295a;
  margin-bottom: 4px;
}

.input-field {
  /* height: 40px; */
  font-size: 15px;
  font-weight: 500;
  color: #02295a;
  border: 1px solid #d6d9e6;
  border-radius: 4px;
  padding: 10.9px 16px;


}

.input-field:focus {
  outline: none;
  border-color: #483eff;
}

.input-field::placeholder {
  font-weight: 500;
  color: #aaa;
}

.input-error {
  border-color: #ed3548;
}

.error-message {
  color: #ed3548;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .input-group {
    margin-bottom: 24px;
  }

  .input-label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .input-field {
    /* height: 40px; */
    font-size: 16px;
    border-radius: 8px;
    padding: 14px 16px;
  }
}