.layout {
  min-height: 100vh;
}

.main {
  position: relative;
  border-radius: 12px;
  background: white;
  margin: -70px 16px 0;
  padding: 32px 24px;
  z-index: 1;
}

.buttons-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

button {
  transition: 0.2s ease;
}

button:focus {
  outline: 2px solid #483eff;
  outline-offset: 2px;
}

.step-1.buttons {
  justify-content: flex-end;
}

.step-2.buttons,
.step-3.buttons,
.step-4.buttons {
  justify-content: space-between;
}

.btn-next {
  background: #02295a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 18px;
  font-weight: 500;
  cursor: pointer;
}

.btn-next:hover {
  background: #164a8a;
}

.btn-go-back {
  background: transparent;
  border: none;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

.btn-go-back:hover {
  color: #022959;
}

.btn-confirm {
  background: #483eff;
}

.btn-confirm:hover {
  background: #6259ff;
}

.attribution {
  font-size: 15px;
  text-align: center;
  margin-top: 24px;
  color: #022959;
}

.attribution a {
  color: #6259ff;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

.recharts-zIndex-layer_300 {
  outline: none !important;
}


@media (min-width: 1024px) {
  .layout {
    display: flex;
    width: 940px;
    min-height: 600px;
    border-radius: 16px;
    background: white;
    padding: 16px;

  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    /* padding: 56px 84px 32px 100px; */
    padding: 41px 84px 18px 100px;
  }

  .buttons-wrapper {
    position: static;
    padding: 0;
    margin-top: 40px;
  }

  .btn-next {
    font-size: 16px;
    border-radius: 8px;
    padding: 15px 26px;
  }

  .btn-go-back {
    font-size: 16px;
  }
}