.cart-item-name {
  font-size: 14px;
}

.cart-item-details {
  margin-top: 8px;

  display: flex;
  gap: 12px;
}

.cart-item-quantity {
  color: #c73b0f;
  font-weight: 700;
}

.cart-item-price {
  color: #87635a;
}

.cart-item-total {
  color: #87635a;
  font-weight: 600;
}

.remove-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ad8a85;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}