.cart-container {
  border-radius: 12px;
  background-color: white;
  padding: 24px;
  margin: 0 24px 24px;
}

.cart-title {
  font-size: 24px;
  color: #c73b0f;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.empty-cart-image {
  width: 120px;
}

.empty-cart-text {
  font-size: 14px;
  font-weight: 600;
  color: #87635a;
  margin-top: 32px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.order-total-price {
  font-size: 24px;
  font-weight: 700;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f5eeec;
  padding: 16px 0;
}

.carbon-neutral {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #fcf8f6;
  margin-top: 24px;
  padding: 16px;
}

.carbon-neutral-text {
  font-size: 14px;
}

.confirm-order-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  background-color: #c73b0f;
  color: white;
  margin-top: 24px;
  padding: 16px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.confirm-order-btn:hover {
  background-color: #952c0c;
}


@media (min-width: 1024px) {

  .cart-container {
    width: 385px;
    flex-shrink: 0;
    padding: 24px 24px 32px;
  }

  .cart-items {
    margin-top: 7px;
  }

  .order-total {
    margin-top: 30px;
  }


  .confirm-order-btn {
    margin-top: 22px;
    padding: 18px;

  }
}