.product-card {
  background-color: white;
}


.product-image-wrapper {
  position: relative;
}

.add-to-cart-btn {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 160px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #ad8a85;
  border-radius: 999px;
  background-color: white;
  padding: 11px;
  transition: border-color 0.2s, color 0.2s;
  cursor: pointer;

}

.add-to-cart-btn:hover {
  border-color: #c73b0f;
  color: #c73b0f;
}

.cart-icon {
  width: 20px;
  height: 20px;
}

.product-category {
  font-size: 14px;
  color: #87635a;
  margin-top: 33px;
  margin-bottom: 5px;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
}

.product-price {
  font-size: 16px;
  font-weight: 700;
  color: #c73b0f;
  margin-top: 4px;
}

/* .product-image {
  width: 100%;
  aspect-ratio: 1 / 0.68;
  object-fit: cover;

  display: block;

  border-radius: 12px;
  border: 2px solid transparent;
} */


.product-image {
  width: 100%;
  min-height: 220px;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid transparent;
}

.product-image.active {
  border: 2px solid #c73b0f;
}



.quantity-controls {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  background-color: #c73b0f;
  color: white;
  border-radius: 999px;
  padding: 10px 12px;
}

.quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
  background: none;
  color: white;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: white;
  color: #c73b0f;
}

.quantity-value {
  font-weight: 600;
}