#root {
  min-height: 100vh;
}

:root {
  /* Primary */
  --color-primary: #7C5DFA;
  --color-primary-hover: #9277FF;

  /* Background */
  --color-background: #F8F8FB;
  --color-surface: #FFFFFF;
  --color-bcg-table: #F9FAFE;

  /* Sidebar */
  --color-sidebar: #373B53;
  --color-sidebar-divider: #494E6E;

  /* Text */
  --color-text: #0C0E16;
  --color-text-secondary: #7E88C3;
  --color-text-muted: #888EB0;
  --color-items-title: #777f98;
  --color-status: #858bb2;

  /* Borders */
  --color-border: #DFE3FA;

  /* Status colors */
  --color-paid: #33D69F;
  --color-paid-bg: rgba(51, 214, 159, 0.06);

  --color-pending: #FF8F00;
  --color-pending-bg: rgba(255, 143, 0, 0.06);

  --color-draft: #373B53;
  --color-draft-bg: rgba(55, 59, 83, 0.06);

  /* Danger */
  --color-danger: #EC5757;
  --color-danger-hover: #FF9797;
}

.dark {
  --color-background: #141625;
  --color-surface: #1E2139;

  --color-sidebar: #1E2139;

  --color-text: #FFFFFF;
  --color-text-secondary: #DFE3FA;
  --color-text-muted: #888EB0;

  --color-border: #252945;

  /* te kolory zostają bez zmian */
  --color-primary: var(--color-primary);
  --color-primary-hover: #9277FF;

  --color-paid: #33D69F;
  --color-paid-bg: rgba(51, 214, 159, .15);

  --color-pending: #FF8F00;
  --color-pending-bg: rgba(255, 143, 0, .15);

  --color-danger: #EC5757;
  --color-danger-hover: #FF9797;

  --color-draft: #DFE3FA;
  --color-draft-bg: rgba(223, 227, 250, .15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}