#root {
  min-height: 100vh;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f8f8fb;
}

aside {
  width: 100px;
  background-color: #373b53;
  color: white;
  padding: 2rem;
}

main {
  flex: 1;
  padding: 4rem;
}

.layout {
  display: flex;
  min-height: 100vh;
}