.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.75px;
  color: #0C0E16;
  margin-bottom: 4px;
}

.header-description {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 15px;
  color: #888eb0;
}

.mobile-description {
  display: inline;
}

.desktop-description {
  display: none;
}

.add-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  border: none;
  border-radius: 24px;
  background-color: #7c5dfa;
  color: white;
  padding: 6px 8px 6px 6px;
  transition: background-color .2s ease;
  cursor: pointer;
}

.add-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
}

.add-button:hover {
  background: #9277FF;
}

.plus-icon {
  width: 10px;
  height: 10px;
}

.add-button-text {
  display: flex;
  align-items: center;
}

.mobile-text {
  display: inline;
}

.desktop-text {
  display: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

.filter-container {
  position: relative;
}

.filter-mobile {
  display: inline;
}

.filter-tablet {
  display: none;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #0C0E16;
  border: none;
  background: transparent;
  cursor: pointer;
}

.filter-button:hover {
  color: #7C5DFA;
}

.filter-arrow {
  width: 10px;
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}

.filter-dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 40px;
  left: -40px;
  width: 192px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  padding: 24px;
  z-index: 5;

}

.filter-option {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 12px;
  font-weight: 700;
  border: none;
  background: transparent;
  cursor: pointer;
}

.filter-option input {
  width: 16px;
  height: 16px;
  accent-color: #7C5DFA;
  cursor: pointer;
}

.filter-option:hover {
  color: #7C5DFA;
}


@media (min-width: 768px) {


  .desktop-text {
    display: inline;
  }

  .mobile-text {
    display: none;
  }

  .header {
    margin-bottom: 56px;
  }

  .header-title {
    font-size: 32px;
  }

  .header-description {
    font-size: 12px;
    letter-spacing: -0.25px;
  }

  .filter-mobile {
    display: none;
  }

  .filter-tablet {
    display: inline;
  }
}

@media (min-width: 1024px) {

  .mobile-description {
    display: none;
  }

  .desktop-description {
    display: inline;
  }

  .header-actions {
    gap: 40px;
  }

  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding: 8px 18px 8px 12px;
  }

  .filter-dropdown {
    top: 30px;
    left: -48px;
  }
}