.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.header-description {
  font-size: 12px;
  color: #888eb0;
}

.add-button {
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 24px;
  background-color: #7c5dfa;
  color: white;
  padding: 15px 24px;
  cursor: pointer;
}