.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.invoice-form {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: calc(100vh - 72px);
  overflow-y: auto;
  background-color: white;
  padding: 32px 24px;
  pointer-events: auto;
  z-index: 10;
}

.close-button {
  border: none;
  background: transparent;
  margin-bottom: 24px;
  cursor: pointer;
}

.form-title {
  font-size: 24px;
  font-weight: 700;
}

.invoice-form-content {
  margin-top: 40px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 12px;
  font-weight: 700;
  color: #7c5dfa;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  font-size: 12px;
  color: #7e88c3;
}

.form-input {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  padding: 18px 20px;

}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

select.form-input {
  cursor: pointer;
}

.items-title {
  font-size: 18px;
  font-weight: 700;
  color: #777f98;
}

.item-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-grid {
  display: grid;
  grid-template-columns: 64px 100px 1fr 40px;
  gap: 16px;
}

.item-total {
  font-size: 12px;
  font-weight: 700;
  color: #888eb0;
  padding-top: 18px;
}

.add-item-button {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  background-color: #f9fafe;
  color: #7e88c3;
  border: none;
  border-radius: 24px;
  padding: 16px;
  cursor: pointer;
}

.delete-button {
  font-size: 12px;
  font-weight: 700;
  border: none;
  background: transparent;
  padding-top: 18px;
  cursor: pointer;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 40px;
}

.form-footer-right {
  display: flex;
  gap: 8px;
}

.discard-button,
.draft-button,
.save-button {
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 24px;
  padding: 16px 24px;
  cursor: pointer;
}

.discard-button {
  background-color: #f9fafe;
  color: #7e88c3;
}

.draft-button {
  background-color: #373b53;
  color: #888eb0;
}

.save-button {
  background-color: #7c5dfa;
  color: white;
}