.invoice-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;

}

.invoice-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-id {
  font-size: 12px;
  font-weight: 700;
}

.invoice-client {
  font-size: 12px;
  color: #858bb2;
}

.invoice-card-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-date {
  font-size: 12px;
  color: #7e88c3;
  margin-bottom: 8px;
}

.invoice-price {
  font-size: 20px;
  font-weight: 700;
}

.invoice-status {
  min-width: 104px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 6px;
  padding: 14px;
}

.paid {
  background-color: rgba(51, 214, 159, 0.1);
  color: #33d69f;
}

.pending {
  background-color: rgba(255, 143, 0, 0.1);
  color: #ff8f00;
}

.draft {
  background-color: rgba(55, 59, 83, 0.1);
  color: #373b53;
}