.invoice-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  background-color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.2s ease;
  padding: 24px;
  cursor: pointer;
}

.invoice-card:hover {
  border-color: #7C5DFA;
}

.invoice-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-id {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.invoice-client {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #858bb2;
}

.invoice-card-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-date {
  font-size: 12px;
  color: #7e88c3;
  margin-bottom: 8px;
}

.invoice-price {
  font-size: 20px;
  font-weight: 700;
}


.invoice-arrow {
  display: none;
}

@media (min-width: 768px) {

  .invoice-card {
    flex-direction: row;
    align-items: center;
    gap: 37px;
  }

  .invoice-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex: 2; */
    gap: 27px;
  }

  .invoice-card-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex: 3;
    gap: 32px; */
    flex: 1;
    gap: 40px;

  }

  .invoice-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 47px;
  }

  .invoice-date {
    margin-bottom: 0;
  }

  .invoice-arrow {
    display: block;
    width: 8px;
  }

}