.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: left;
  background-color: var(--card-bg);
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 320px;
  margin: 32px auto;
}

.thank-you-icon {
  font-size: 48px;
  color: var(--main-color);
}

.thank-you h2 {
  font-size: 24px;
  margin: 0;
}

.thank-you p {
  font-size: 16px;
  margin: 0;
}

.thank-you button {
  padding: 12px;
  width: 100%;
  background-color: var(--main-color);
  color: var(--card-bg);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.thank-you button:hover {
  background-color: var(--main-hover);
}

@media (min-width: 600px) {
  .thank-you {
    max-width: 400px;
  }
}