.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.calculator {
  background-color: white;
}


@media (min-width: 900px) {

  .app {
    display: grid;
    min-height: 100vh;
    place-items: center;
    padding: 2rem;
  }


  .calculator {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    max-width: 1000px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
  }
}