* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #e3f4fc;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}