.form-section {
  background-color: white;
  /* padding: 2rem; */
  padding: 32px 14px 32px 32px;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-title {
  font-size: 24px;
}

.clear-btn {
  background: none;
  border: none;
  padding: 0;

  width: fit-content;

  cursor: pointer;

  color: #4e6e7e;
  text-decoration: underline;
}

.mortgage-form {
  margin-top: 24px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.input-group label {
  color: #4e6e7e;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #9abed5;
  border-radius: 0.3rem;
  overflow: hidden;
}

.input-prefix {
  font-weight: 700;
  background-color: #e3f4fc;
  color: #4e6e7e;
  padding: 14px 16px;
}

.input-wrapper input {
  flex: 1;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  outline: none;
  padding: 14px 16px;
}

.input-wrapper:focus-within {
  border-color: #d8db2f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input::placeholder {
  color: #9abed5;
}

input:focus {
  outline: 2px solid #d8db2f;
  outline-offset: 2px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.input-suffix {
  font-weight: 700;
  background-color: #e3f4fc;
  color: #4e6e7e;
  padding: 14px 16px;
}

.input-label {
  color: #4e6e7e;
  padding-top: 23px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #9abed5;
  border-radius: 6px;
  padding: 13px 16px;
  cursor: pointer;
}

.radio-option span {
  font-size: 18px;
  font-weight: 700;
}

.radio-option input {
  accent-color: #d8db2f;

  width: 20px;
  height: 20px;
}

.radio-option:hover {
  border-color: #d8db2f;
}

.calculate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 999px;
  background-color: #d8db2f;
  padding: 16px 24px;
  margin-top: 20px;
  cursor: pointer;
}

.calculate-btn:hover {
  background-color: #e3e63a;
}

.calculate-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-message {
  font-size: 14px;
  color: #d73328;
  margin-top: 4px;
}

.input-error {
  border-color: #d73328;
}

.input-error .input-prefix,
.input-error .input-suffix {
  background-color: #d73328;
  color: white;
}

.radio-error {
  border-color: #d73328;
}

@media (min-width: 768px) {
  .form-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-row {
    flex-direction: row;
  }

  .form-row .input-group {
    width: 100%;
  }
}