:root {
  --bcg: hsl(241, 95%, 9%);
  --box-shadow: hsl(242, 31%, 20%);
  --card: hsl(240, 26%, 20%);
  --border: hsl(240, 21%, 27%);
  --item: hsl(240, 22%, 24%);
  --text: hsl(0, 0%, 100%);
  --text-secondary: hsl(240, 17%, 81%);
  --blue: hsl(232, 68%, 56%);
  --blue-dark: hsl(248, 70%, 36%);
}

/* ☀️ Light mode */
.light-theme {
  --bcg: hsl(244, 83%, 70%);
  --box-shadow: hsl(204, 100%, 14%);
  --card: hsl(244, 98%, 61%);
  --border: hsl(244, 88%, 69%);
  --item: hsl(244, 79%, 61%);
  --text: hsl(252, 100%, 99%);
  --text-secondary: hsl(267, 52%, 96%);
  --blue: hsl(244, 98%, 61%);
  --blue-dark: hsl(235, 21%, 88%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*1rem=10px*/
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  background-color: var(--bcg);
  color: var(--text);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1216px;
  padding: 18px 16px 48px 16px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-img {
  width: 138px;
}

.btn-theme {
  height: 25px;
  width: 25px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.btn-theme span {
  display: block;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-theme span.light {
  background-image: url(./assets/images/icon-sun.svg);
  filter: invert(23%) sepia(75%) saturate(6497%) hue-rotate(244deg) brightness(103%) contrast(130%);
  display: none;
}

.btn-theme span.dark {
  background-image: url(./assets/images/icon-moon.svg);
  filter: invert(1);
}

.units-container {
  position: relative;
}

.units-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--card);
  color: var(--text);
  opacity: 0.7;
  padding: 6px 6px 7px 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.units-btn:hover {
  background-color: var(--item);
  border: 1px solid transparent;
}

.chevron {
  width: 12px;
  height: 6px;
  transition: transform 0.2s ease;
}

.units-btn[aria-expanded="true"] .chevron {
  transform: rotate(180deg);
}

.units-panel {
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  width: 214px;
  background-color: var(--card);
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px var(--box-shadow);
  border-radius: 12px;
  padding: 8px 16px 10px 12px;
  z-index: 2;
}

.units-list {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  padding-left: 2px;
}

.switch {
  background-color: var(--card);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 8px;
  border: transparent;
  text-align: left;
  color: var(--text);
  padding: 5px 3px 5px 6px;
  cursor: pointer;
  transition: color 0.3s ease;
  pointer-events: none;
}

button.switch {
  min-height: 39px;
  pointer-events: all;
}

.units-item {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
}

.switch-option {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
}

.units-item:not(:first-child) .switch-option {
  border-top: 1px solid var(--border);
  padding-top: 10px;
  margin-top: 10px;
}

.active {
  background-color: var(--item);
  background-image: url(assets/images/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.main {
  max-width: 1250px;
  padding: 0 16px 48px 16px;
}

.main.hidden {
  display: none;
}

.title {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--text);
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 0 0 32px;
  margin-top: 48px;
}

.title-found {
  text-align: center;
}

.city-options {
  position: absolute;
  top: calc(54px + 10px);
  left: 0;
  width: 100%;
  background-color: var(--card);
  border-radius: 14px;
  padding: 7px 8px 7px 8px;
}

.item-city {
  list-style: none;
  padding: 8px 3px 8px 6px;
}

.search-box {
  display: flex;
  font-size: 21px;
  font-weight: 300;
  text-align: left;
  border: 1px solid var(--border);
  border-radius: 12px;
  background-color: var(--card);
  color: var(--text);
  padding: 14.5px 0 14.5px 18px;
  opacity: 0.7;
  transition: color 0.3s ease;
  cursor: pointer;
}

.search-box:hover {
  background-color: var(--border);
}

.search-input {
  font-size: 20px;
  font-weight: 300;
  flex: 1;
  color: var(--text);
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.search-input::placeholder {
  color: var(--text)
}

.btn-light {
  font-size: 21px;
  font-weight: 300;
  color: var(--text);
  text-align: center;
  background-color: var(--blue);
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 16px 0 16px;
  opacity: 1;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-light:hover {
  background-color: var(--blue-dark);
}

.exact {
  text-align: center;
  background-color: var(--blue);
  background-image: url(assets/images/bg-today-small.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding-bottom: 41px;
  padding-top: 41px;
}

.info {
  font-size: 28px;
  font-weight: 700;
  color: var(--text);
  padding-bottom: 7px;
}

.date {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
}

.degrees {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  line-height: 1;
  padding-top: 16px;
}

.icon-sun {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}

.sing {
  font-size: 96px;
  font-weight: 600;
  font-style: italic;
}

.weather {
  padding-top: 20px;
}

.weather-list {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
}

.weather-item {
  width: 100%;
  background-color: var(--card);
  border-radius: 12px;
  list-style: none;
  padding: 20px 0 10px 20px;
}

.weather-title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 22px;
}

.weather-value {
  font-size: 32px;
  font-weight: 300;
}

.week {
  padding: 32px 0 32px 0;
}

.title-forecast {
  font-size: 20px;
  font-weight: 600;
}

.day-list {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(89px, 1fr));
  justify-items: center;
  padding-top: 20px;
}

.day-item {
  width: 100%;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 12px;
  list-style: none;
  padding: 13px 7px 13px 7px;
}

.day {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 13px;
}

.weather-item,
.day-item {
  box-shadow: 0 2px 6px var(--border);
}

.icon-weather {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.degrees-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 16px;
}

.forecast-wrapper {
  width: 100%;
  background-color: var(--card);
  border-radius: 20px;
  padding: 20px 16px 20px 16px;
}

.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.day-dropdown {
  position: relative;
}

.day-options {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  width: 214px;
  background-color: var(--card);
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px var(--box-shadow);
  border-radius: 14px;
  padding: 10px 16px 8px 12px;
}

.item-day {
  list-style: none;
  padding: 12px 3px 9px 6px;
  z-index: 1;
}

.active-day {
  background-color: var(--item);
  border-radius: 8px;
}

.btn-day {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  border: transparent;
  background-color: transparent;
}

.hour-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hour-item {
  display: flex;
  width: 100%;
  background-color: var(--item);
  border: 1px solid var(--border);
  border-radius: 10px;
  list-style: none;
  padding: 9px 11px 9px 11px;
}

.icon-hour {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 9px;
}

.time {
  padding-left: 5px;
}

.value-hour {
  font-size: 16px;
  font-weight: 500;
}

.day-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  border: transparent;
  color: var(--text);
  background-color: var(--item);
  border-radius: 8px;
  padding: 9.5px 12px 9.5px 14px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.wrapper-error {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
}

.icon-error {
  width: 42px;
  height: 42px;
  margin-bottom: 27px;
}

.title-error {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 600px;
  padding: 18px 14px 24px 12px;
}

.btn-retry {
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  background: var(--card);
  color: var(--text);
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  padding: 9px 15px 9px 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.retry svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.btn-retry:hover {
  color: var(--text-secondary);
}

.btn-retry:hover svg {
  transform: rotate(90deg);
}

.units-container:focus,
.btn-search:focus {
  outline: none;
  border: 1px solid var(--text);
}

.btn-light:focus {
  border: 1px solid var(--bcg);
  box-shadow: 0 0 0 2px var(--blue);
}

.loading .exact {
  align-items: center;
  justify-content: center;
  height: 286px;
  background-image: none;
  background-color: var(--card);
}

.loading .degrees {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dot-loader {
  display: flex;
  flex-direction: column;
}

.dots-loader {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: -11px;
}

.dots-loader span {
  width: 8px;
  height: 8px;
  background-color: var(--text);
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dots-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dots-loader span:nth-child(2) {
  animation-delay: -0.16s;
  margin-bottom: 8px;
}

.dots-loader span:nth-child(3) {
  animation-delay: 0s;
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

.loading-text {
  font-size: 16px;
  color: var(--text-secondary);
}

.loading .day-item {
  width: 101.5px;
  height: 165px;
}

.loading-forecast .hour-item {
  height: 62px;
}

.not-found.hidden,
.error.hidden {
  display: none;
}

.hidden {
  display: none !important;
}

.attribution-container {
  position: fixed;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  font-size: 1.2rem;
  color: var(--text);
}

.attribution-link:link,
.attribution-link:visited {
  color: var(--text-secondary);
  transition: all 0.2s;
}

.attribution-link:focus,
.attribution-link:hover,
.attribution-link:active {
  color: var(--text-secondary);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .header {
    padding: 24px 24px 48px 24px;
  }

  .logo-img {
    width: 184px;
  }

  .units-btn {
    font-size: 16px;
    border-radius: 8px;
    gap: 10px;
    padding: 10px 12px 11px 16px;
  }

  .main {
    max-width: 800px;
    padding: 0 24px 80px 24px;
  }

  .title {
    padding-right: 100px;
    padding-left: 100px;
  }

  .search {
    max-width: 800px;
    flex-direction: row;
    justify-content: space-between;
  }

  .search-box {
    width: 590px;
  }

  .city-options {
    top: calc(100% - 20px);
    width: 80.5%;
  }

  .item-city {
    list-style: none;
    padding: 8px 3px 8px 6px;
  }

  .btn-light {
    font-size: 20px;
    font-weight: 500;
    padding: 16px 24px 16px;
  }

  .exact {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(assets/images/bg-today-large.svg);
    padding: 74px 24px 76px 24px;

  }

  .date {
    text-align: left;
  }

  .weather-list {
    gap: 20px;
  }

  .forecast-wrapper {
    padding: 24px 24px 24px 24px;
  }
}

@media (min-width:1024px) {
  .header {
    padding: 48px 24px 64px 24px;
  }

  .logo-img {
    width: 198px;
  }

  .main {
    max-width: 1216px;
  }

  .search {
    max-width: 656px;
    gap: 16px;
    padding: 0 0 48px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .city-options {
    top: calc(100% - 39px);
  }

  .item-city {
    list-style: none;
    padding: 8px 3px 8px 6px;
  }

  .results {
    display: grid;
    grid-template-columns: minmax(300px, 800px) minmax(0, 384px);
    gap: 32px;
    justify-content: center;
  }

  .weather {
    padding-top: 32px;
  }

  .week {
    padding: 48px 0 0px 0;
  }
}

@media (min-width:1224px) {
  .header {
    padding: 48px 0 64px 0;
  }

  .main {
    padding: 0 0 80px 0;
  }
}

/* LM THEME */
body.light-theme .btn-theme span.light {
  display: block;
}

body.light-theme .btn-theme span.dark {
  display: none;
}

body.light-theme .exact {
  filter: brightness(1.5);
}