:root {
  --tomato: rgb(255, 98, 87);
  --tomato-bcg: rgba(255, 98, 87, 0.3);
  --gradient: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
  --dark-slate-grey: rgb(36, 39, 66);
  --charcoal-grey: rgb(54, 56, 78);
  --grey: rgb(146, 148, 160);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  display: block;
}

.img {
  width: 100%;
  max-height: 290px;
  object-fit: cover;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 0 23px 40px 25px;
}

.card-heading {
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px;
}

.card-paragraph {
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 1.5;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding-top: 26px;
}

.card-item {
  background-image: url(./assets/images/icon-list.svg);
  background-repeat: no-repeat;
  list-style: none;
  line-height: 1.5;
  padding-left: 36px;
}

.form {
  padding-top: 42px;
  transition: ;

}

.form-email {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.1px;
}

.form-input {
  width: 100%;
  text-align: left;
  font-size: 16px;
  border-radius: 1rem;
  border: solid 1px var(--grey);
  padding: 18px 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;

}

.form-error {
  display: none;
  color: var(--tomato);
}

.error {
  color: var(--tomato);
  background-color: var(--tomato-bcg);
  border: solid 1px var(--tomato);
}

.active {
  background-color: var(--gradient);
}

.btn {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  border-radius: 1rem;
  border: inherit;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  padding: 20px 25px;
  margin-top: 11px;
  cursor: pointer;
}

.modal {
  padding: 149px 22px 51px 24px;
}

.modal-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: var(--dark-slate-grey);
  padding-top: 38px;
  padding-bottom: 25px;
}

.modal-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-slate-grey);
  padding-bottom: 250px;
}

.btn-modal {
  font-size: 15px;
}

.footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: #fff;
  font-size: 1.2rem;
}

.footer__link:link,
.footer__link:visited {
  color: #721e7e;
  transition: all 0.2s;
}

.footer__link:focus,
.footer__link:hover,
.footer__link:active {
  color: #2e0f33;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    background-color: var(--charcoal-grey);
  }

  .main {
    max-width: 925px;
    background-color: var(--white);
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px 22px 10px 10px;

  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 12px;
  }

  .picture {
    width: 44.5%;
    height: 100%;
  }

  .card {
    width: 50%;
    padding: 30px 28px 66px 31px;
    align-self: stretch;
  }

  .img {
    max-height: 100%;
    border-radius: 1.5rem;
  }

  .modal {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 506px;
    height: 520px;
    border-radius: 40px;

    background-color: #721e7e;
    padding: 48px 65px 51px 65px;

  }

  .modal-heading {
    font-size: 56px;
  }

  .modal-paragraph {
    padding-bottom: 25px;
  }

  .btn-modal {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    padding: 49px 57px 51px 17px;
  }

  .card-heading {
    font-size: 56px;
  }

  .card-list {
    padding-top: 28px;
  }

  .form {
    padding-top: 40px;
    padding-bottom: 36px;
  }

  .btn {
    margin-top: 15px;
  }

  .img {
    height: 593px;
  }
}