.country-details-page {
  width: 100%;
  padding-top: 40px;
}

.back-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: var(--elements);
  color: var(--text);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 6px 24px;
  margin-bottom: 64px;
  cursor: pointer;
}

/* .back-button-icon {
  width: 18px;
  height: 18px;
} */

.country-image {
  width: 100%;
}

.country-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.border-countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.border-country {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 28px;
  text-decoration: none;
  color: inherit;
  background-color: var(--elements);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.country-content {
  margin-top: 40px;
}

.country-title {
  font-size: 22px;
  margin-bottom: 24px;
}

.country-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 32px;
}

.country-info-left,
.country-info-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .back-button {
    font-size: 16px;
    padding: 10px 35px;
  }

  .country-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .country-image {
    max-width: 560px;
  }

  .country-content {
    max-width: 574px;
  }

  .country-info-left,
  .country-info-right {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .country-details {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 40px;
    align-items: center;
  }

  .country-image img {
    height: 401px;
    border-radius: 10px;
    object-fit: cover;
  }

  .country-content {
    margin-top: 0;
  }

  .country-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}

@media (min-width: 1224px) {
  .country-details {
    grid-template-columns: 560px 574px;
    gap: 144px;
  }


  .border-countries {
    margin-top: 68px;
  }
}