/* @font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 800;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-Italic.-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 200 800;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 900;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/RedHatText-Italic.-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 300 900;
} */

:root {
  --color-dark: #0b0d17;
  --color-light: #d0d6f9;
  --color-white: #ffffff;
  --color-gray: #979797;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Red Hat Text", sans-serif;
}

button,
input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.font-primary {
  font-family: "Red Hat Text", sans-serif;
}

.font-secondary {
  font-family: "Plus Jakarta Sans", sans-serif;
}