.card {
  position: relative;
  min-height: 260px;
  text-align: center;
  color: var(--text-light);
  background-color: var(--card-blue);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 350px;
  transition: all 0.25s ease;
  padding: 40px 20px 64px;
  margin: 0 auto;
}

.advice-id {
  color: var(--neon-green);
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 3.46px;

}

.advice-text {
  min-height: 80px;
  font-size: 24px;
  letter-spacing: -0.26px;
  color: var(--text-light);
  margin: 24px 0;
}

.advice-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  background-color: var(--neon-green);
  transition: box-shadow 0.2s ease;
  cursor: pointer;
  font-size: 20px;
}

.advice-button:hover {
  box-shadow: 0 0 35px var(--neon-green);
}

.advice-button:active {
  transform: translateX(-50%) scale(0.95);
}

.advice-button img {
  width: 22px;
  height: 22px;
}

.divider {
  display: block;
}

.divider img {
  width: 100%;
}



.loading img {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fade {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 32px;
  color: var(--neon-green);
}

.attribution a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {

  .card {
    max-width: 540px;
    border-radius: 15px;
    padding: 48px 48px 72px;
  }

  .advice-id {
    font-size: 13px;
    letter-spacing: 4.09px;
  }

  .advice-text {
    font-size: 28px;
    letter-spacing: -0.3px;
    margin: 24px 0 40px;
  }

}