:root {
  --white: #FFFFFF;
  --card-white: #FFFBF6;
  --cream-bg: #F8E9DD;
  --medium-brown: #92857A;
  --dark-brown: #382314;
  --cyan: #76B5BC;
  --red: #EC755D;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--cream-bg);
}