:root {
  --white: #FFFFFF;
  --card-white: #FFFBF6;
  --cream-bg: #F8E9DD;
  --medium-brown: #92857A;
  --dark-brown: #382314;
  --cyan: #76B5BC;
  --red: #EC755D;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--cream-bg);
}

.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 375px;
  /* max-width: 540px; */
  padding: 16px;
  margin: 0 auto;

}

/* .app {
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
} */