.home-toolbar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 24px 0 32px;
}

@media (min-width: 768px) {
  .home-toolbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
  }
}