.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--red);
  color: var(--white);
  padding: 21px;
  border-radius: 10px;
}


.text {
  font-size: 15px;
  opacity: 0.8;
  padding-bottom: 4px;
}

.amount {
  font-size: 24px;
  font-weight: 700;
}

.logo {
  width: 60px;
  height: 40px;
}

@media (min-width: 768px) {
  .card {
    border-radius: 20px;
    padding: 26px 39px 25px 32px;
  }

  .text {
    font-size: 18px;
    opacity: 0.8;
    padding-bottom: 8px;
  }

  .amount {
    font-size: 32px;
  }

  .logo {
    width: 72px;
    height: 48px;
  }
}