.tooltip {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background: var(--dark-brown);
  color: var(--white);
  border-radius: 5px;
  padding: 4px;
}

.label {
  margin: 0;
}

.value {
  margin: 0;
  font-weight: 700;
}


@media (min-width: 768px) {
  .tooltip {
    font-size: 18px;
    padding: 8px;

  }
}