.card {
  width: 100%;
  background: var(--white);
  border-radius: 12px;
  padding: 24px 20px;
}

/* .container {
  width: 100%;
  height: 300px;
} */

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-brown);
  margin-bottom: 16px;
}

.chartWrapper {
  /* position: relative; */
  width: 100%;
  height: 213px;
  min-height: 200px;
}

.chartInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.customTooltip {
  position: absolute;

  transform: translate(-50%, -100%);
  /* 👈 NAD BAREM */

  background: var(--dark-brown);
  color: var(--white);

  padding: 6px 8px;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 700;
  z-index: 1;
  margin-top: -8px;
  pointer-events: none;
}

/* .customTooltip {
  position: absolute;
  top: 0;

  transform: translate(-50%, -100%);
  margin-top: -8px;

  background: var(--dark-brown);
  color: var(--white);

  padding: 6px 8px;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 700;

  pointer-events: none;
} */

.divider {
  height: 1px;
  background: #f0e6dc;
  margin: 24px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.summaryText {
  color: var(--medium-brown);
  font-size: 15px;
  padding-bottom: 4px;
}

.summaryAmount {
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-brown);
}

.summaryRight {
  text-align: right;
}

.percent {
  font-size: 15px;
  font-weight: 700;
  color: var(--dark-brown);
}

.fromLast {
  font-size: 15px;
  color: var(--medium-brown);
}

@media (min-width: 768px) {
  .card {
    border-radius: 20px;
    padding: 32px 40px 40px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 38px;
  }

  .chartWrapper {
    width: 465px;
    height: 213px;
  }

  .divider {
    margin: 27px 0;
  }

  .summary {
    padding-top: 2px;
  }

  .summaryText {
    font-size: 18px;
    padding-bottom: 1px;
  }

  .summaryAmount {
    font-size: 48px;
  }

  .summaryRight {
    padding-bottom: 5px;
  }

  .percent {
    font-size: 18px;
  }

  .fromLast {
    font-size: 18px;
  }
}