:root {
  --bcg: #FFFFFF;
  --text: #fcf6f5;
  --black: #1D1E25;
  --bcg-testimonial: #FAFAFA;
  --orange: #F3603C;
  --orange-light: #FFF0EC;
  --blue: #242D52;
  --blue-opacity: rgb(36, 45, 82, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: var(--bcg);
}

.header {
  position: relative;
  padding: 45px 24px 48px 24px;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 110px;
  height: 18px;
}

.nav-btn {
  display: block;
  width: 25px;
  height: 18px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.btn-open.hidden {
  display: none;
}

.btn-header {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(201, 201, 201, 0.6),
      rgba(84, 84, 84, 0.8));
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.navigation {
  display: none;
  width: 325px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  /* margin-top: 40px; */
  z-index: 10;
}

.navigation.active {
  display: block;
}

.btn-close {
  position: absolute;
  top: 45px;
  right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 15;
}

.btn-close.active {
  display: block;

}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px 0;
}

.menu-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
}

.introduction {
  padding-top: 19px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 93px;
}

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-intro {
  display: block;
  width: clamp(318px, 50vw, 540px);
  height: auto;
  max-height: clamp(286px, 50vw * 286 / 318, 485px);
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  color: var(--blue);
  padding-bottom: 9px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
  padding-bottom: 29px;
}

.btn {
  max-width: 137px;
  border: transparent;
  border-radius: 22px;
  background-color: var(--orange);
  color: var(--text);
  font-size: 13px;
  /* font-weight: 500; */
  font-weight: 700;
  box-shadow: 0 6px 10px rgba(243, 96, 60, 0.3);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  padding: 12px 32px 13px 32px;

}

.features {
  max-width: 540px;
  margin: 0 auto;
  /* padding: 0 21px 62px 22px; */
  /* padding-bottom: 62px; */
}

.features-wrapper {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  color: var(--blue);
  padding: 0 22px 13px 21px;
}

.description-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 26px 54px;

}

.feature-wrapper {
  padding-left: 16px;
}

.feature-subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.28px;
  color: var(--blue);
  background-color: var(--orange-light);
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
  padding: 9.5px 0 9.5px 0;
}

.num-span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.29px;
  color: var(--bcg);
  background-color: var(--orange);
  border-radius: 39px;
  padding: 9.5px 24.8px;
  margin-right: 15px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding: 8px 14px 47px 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 17px 42px 18px;
}

.testimonial-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.66px;
  text-align: center;
  padding-bottom: 62px;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-track {
  display: flex;
  gap: 20px;
  padding-top: 36px;
}

.testimonial {
  width: 340px;
  /* max-width: 540px; */
  position: relative;
  flex: 0 0 auto;
  scroll-snap-align: center;
  text-align: center;
  background-color: var(--bcg-testimonial);
  margin: 0 auto;
}

.avatar {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 134px; */
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  z-index: 10;
}

.testimonial-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.29px;
  text-align: center;
  color: var(--blue);
  padding-top: 60px;
  padding-bottom: 24px;
}

.inf {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--blue-opacity);
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 42px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  /* margin-top: 26px; */
  padding-top: 26px;
  padding-bottom: 47px;
}

.dot {
  width: 7px;
  height: 7px;
  border: 1px solid var(--orange);
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: var(--orange);

}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--orange);
  padding: 91px 0;
}

.subtitle-cta {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 50px;
  color: var(--bcg);
  text-align: center;
  padding-bottom: 29px;
}


.btn-cta {
  background-color: var(--bcg);
  color: var(--orange);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  padding: 51px 24px 29px;
  color: var(--bcg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.newsletter {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.input {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #8d8d8d;
  border-radius: 22px;
  border: 1px solid transparent;
  padding: 11px 43px 14px 24px;
  min-width: 200px;
  box-sizing: border-box;
}

.btn-footer {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  max-width: 64px;
  line-height: 13px;
  padding: 15.5px 31px;
  align-self: flex-start;
}

.input.error {
  border: 2px solid var(--orange);
  color: var(--orange);
}

.error-message {
  font-size: 10px;
  color: var(--orange);
  padding-left: 8px;
  padding-top: 4px;
  display: block;
}

.error-message[hidden] {
  display: none;
}


.footer-wrapper {
  display: flex;
  gap: 106px;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 50px;
}

.footer-links,
.footer-inf {
  display: flex;
  flex-direction: column;
  gap: 13px;
  list-style: none;

}

.footer-link {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.23px;
  color: var(--bcg);
  text-decoration: none;
}

.social {
  display: flex;
  gap: 34px;
  justify-content: center;
  padding-bottom: 54px;

}

.social-icon {
  width: 32px;
  height: 32px;
}

.logo-footer {
  display: block;
  width: 158px;
  height: 26px;
  margin: 0 auto;
}

.copyright {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-align: center;
  color: #55565B;
  padding-top: 50px;

}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .logo {
    justify-self: start;
  }

  .menu-link {
    font-size: 13px;

  }

  .navigation {
    justify-self: center;
  }

  .btn-header {
    justify-self: end;
  }


  .btn-open {
    display: none;
  }

  .btn-header {
    display: inline-block;
    margin-left: auto;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .navigation {
    display: block;
    position: static;
    max-width: 398px;
    margin: 0 auto;
    background: transparent;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
  }

  .menu-link {
    white-space: nowrap;
  }


  .btn-close {
    display: none;
  }

}

@media (min-width: 1024px) {
  .header {
    padding: 56px 24px 120px 24px;
  }

  .logo {
    width: 147px;
    height: 24px;
  }

  .menu {
    gap: 32px;
  }

  .btn {
    width: 137px;
    padding: 14px 32px 15px 32px;
  }

  .introduction {
    max-width: 1110px;
    display: flex;
    flex-direction: row-reverse;
    /* gap: 125px; */
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 132px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .introduction-wrapper {
    align-items: flex-start;
    min-width: 445px;
    padding-top: 49px;
  }

  .title {
    font-size: 56px;
    text-align: left;
    padding-bottom: 16px;
  }

  .description {
    font-size: 16px;
    line-height: 26px;
    padding: 0 261px 40px 0;
  }

  .features {
    display: flex;
    max-width: 1110px;
    padding-bottom: 44px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feature-wrapper {
    max-width: 540px;
    padding-left: 0;
  }

  .feature-subtitle {
    background-color: transparent;
  }

  .num-span {
    margin-right: 28px;
  }

  .feature-description {

    padding: 0 4px 40px 100px;
  }

  .subtitle {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.71px;
    text-align: left;
    padding: 0 22px 24px 0px;
  }

  .description-subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding: 0 210px 0 0;
  }

  .testimonials {
    padding: 62px 17px 180px 18px;
  }

  .testimonial-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.71px;
    padding-bottom: 64px;
  }

  .carousel-wrapper {
    scroll-padding-left: 50%;
    scroll-snap-align: center;
    padding-bottom: 48px;
  }

  .testimonial {
    width: 540px;
    scroll-snap-align: center;

  }


  .testimonial-name {
    padding-bottom: 19px;
  }

  .inf {
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }


  .carousel-dots {
    display: none;
  }

  .cta {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    padding: 62px 0;

  }

  .subtitle-cta br {
    display: none;
  }

  .subtitle-cta {
    width: 445px;
    padding: 51px 24px 29px;
    text-align: left;
    font-weight: 500;
    letter-spacing: -0.71px;
    line-height: 48px;
    padding-bottom: 0;
  }

  .footer-container {
    max-width: 1104px;
    display: flex;
    flex-direction: row-reverse;
    gap: 125px;
    justify-content: space-between;
    padding: 0px 24px 0px;
    position: relative;
  }


  .footer-wrapper {
    display: flex;
    gap: 0;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-links {
    width: 200px;

  }

  .social-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .social {
    gap: 13px;
    padding-bottom: 0;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }

  .logo-footer {
    margin-bottom: 66px;
  }

  .copyright {
    position: absolute;
    right: 24px;
    bottom: 0;
  }

}

@media(min-width:1224px) {
  .introduction {
    padding-left: 0px;
    padding-right: 0px;
  }

  .features {
    padding-left: 0px;
    padding-right: 0px;
  }

  .cta {
    gap: 532px;
  }

  .footer-links {
    width: 255px;

  }


}