:root {
  --bcg: #FFFFFF;
  --text: #fcf6f5;
  --black: #1D1E25;
  --bcg-testimonial: #FAFAFA;
  --orange: #F3603C;
  --orange-active: #F98F75;
  --orange-light: #FFF0EC;
  --blue: #242D52;
  --blue-opacity: rgb(36, 45, 82, 0.5);
  --error: #952F32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Be Vietnam Pro", sans-serif;
}



body {
  background-color: var(--bcg);
  background-image: url(/images/bg-tablet-pattern.svg), url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top -70px left 106px, top 516px left 237px;
  background-size: 349px auto, 326px auto;
}



.header {
  position: relative;
  padding: 45px 24px 48px 24px;
  width: 375;
  max-width: 1110px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 110px;
  height: 18px;
}

.nav-btn {
  display: block;
  width: 25px;
  height: 18px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.btn-open.hidden {
  display: none;
}

.btn-header {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(201, 201, 201, 0.6),
      rgba(84, 84, 84, 0.8));
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.navigation {
  display: none;
  width: 325px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.navigation.active {
  display: block;
}

.btn-close {
  position: absolute;
  top: 45px;
  right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 15;
}

.btn-close.active {
  display: block;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px 0;
}

.menu-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.menu-link:hover {
  color: var(--blue-opacity);
}

.introduction {
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 93px;
}

.introduction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 19px;
}

.img-intro {
  display: block;
  width: clamp(318px, 50vw, 540px);
  height: auto;
  max-height: clamp(286px, 50vw * 286 / 318, 485px);
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 50px;
  text-align: center;
  color: var(--blue);
  padding-bottom: 9px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 9px 0 29px;
}

.btn {
  width: 137px;
  width: fit-content;
  border: transparent;
  border-radius: 22px;
  background-color: var(--orange);
  color: var(--text);
  font-size: 13px;
  font-weight: 700;
  box-shadow: 0 6px 10px rgba(243, 96, 60, 0.3);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  padding: 14px 32px 15px 32px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--orange-active);
}

.features {
  max-width: 540px;
  margin: 0 auto;
}

.features-wrapper {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.62px;
  color: var(--blue);
  padding: 0 24px 13px 25px;
}

.description-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: var(--blue);
  padding: 0 26px 54px;
}

.feature-wrapper {
  padding-left: 16px;
}

.feature-subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.29px;
  color: var(--blue);
  background-color: var(--orange-light);
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
  padding: 9.5px 0 9.5px 0;
}

.num-span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.29px;
  color: var(--bcg);
  background-color: var(--orange);
  border-radius: 39px;
  padding: 9.5px 24.8px;
  margin-right: 15px;
}

.feature-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--blue);
  padding: 8px 14px 47px 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 17px 42px 18px;
}

.testimonial-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.66px;
  line-height: 45px;
  text-align: center;
  color: var(--blue);
  padding-bottom: 62px;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
}

.carousel-track {
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  padding-top: 36px;
  padding-bottom: 10px;
}

.testimonial {
  width: 340px;
  position: relative;
  flex: 0 0 auto;
  scroll-snap-align: center;
  text-align: center;
  background-color: var(--bcg-testimonial);
  margin: 0 auto;
}

.avatar {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  z-index: 10;
}

.testimonial-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.29px;
  text-align: center;
  color: var(--blue);
  padding-top: 60px;
  padding-bottom: 19px;
}

.inf {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--blue-opacity);
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 42px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 26px;
  padding-bottom: 47px;
}

.dot {
  width: 7px;
  height: 7px;
  border: 1px solid var(--orange);
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: var(--orange);
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--orange);
  padding: 91px 0;
}

.subtitle-cta {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 50px;
  color: var(--bcg);
  text-align: center;
  padding-bottom: 29px;
}

.btn-cta {
  background-color: var(--bcg);
  color: var(--orange);
}

.btn-cta:hover {
  background-color: var(--bcg);
  color: var(--orange-active);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  padding: 51px 20px 29px;
  color: var(--bcg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.footer-container {
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.newsletter {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 239px;
}

.input {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #8d8d8d;
  border-radius: 22px;
  border: 1px solid transparent;
  padding: 11px 43px 14px 24px;
  min-width: 200px;
  box-sizing: border-box;
}

.btn-footer {
  display: flex;
  justify-content: center;
  width: 64px;
  border: transparent;
  border-radius: 22px;
  background-color: var(--orange);
  color: var(--text);
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  padding: 15.5px 40px;
  align-self: flex-start;
}

.btn-footer:hover {
  background-color: var(--orange-active);
}

.input.error {
  border: 2px solid var(--orange);
  color: var(--orange);
}

.error-message {
  font-size: 10px;
  color: var(--orange);
  padding-left: 8px;
  padding-top: 4px;
  display: block;
}

.error-message[hidden] {
  display: none;
}

.footer-wrapper {
  display: flex;
  gap: 106px;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 50px;
}

.footer-links,
.footer-inf {
  display: flex;
  flex-direction: column;
  gap: 13px;
  list-style: none;
}

.footer-link {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.23px;
  color: var(--bcg);
  text-decoration: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.footer-link:hover {
  color: var(--orange);
}

.social {
  display: flex;
  gap: 34px;
  justify-content: center;
  padding-bottom: 54px;
}

.social-icon {
  width: 32px;
  height: 32px;
  background-color: var(--bcg);
  transition: background-color .3s, transform 0.2s ease;
  cursor: pointer;
  display: inline-block;
}

.social-icon:hover {
  background-color: var(--orange);
}

.facebook {
  mask: url("images/icon-facebook.svg") no-repeat center / contain;
  -webkit-mask: url("images/icon-facebook.svg") no-repeat center / contain;
}

.youtube {
  mask: url("images/icon-youtube.svg") no-repeat center / contain;
  -webkit-mask: url("images/icon-youtube.svg") no-repeat center / contain;
}

.twitter {
  mask: url("images/icon-twitter.svg") no-repeat center / contain;
  -webkit-mask: url("images/icon-twitter.svg") no-repeat center / contain;
}

.pinterest {
  mask: url("images/icon-pinterest.svg") no-repeat center / contain;
  -webkit-mask: url("images/icon-pinterest.svg") no-repeat center / contain;
}

.instagram {
  mask: url("images/icon-instagram.svg") no-repeat center / contain;
  -webkit-mask: url("images/icon-instagram.svg") no-repeat center / contain;
}

.logo-footer {
  display: block;
  width: 158px;
  height: 26px;
  margin: 0 auto;
}

.copyright {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-align: center;
  color: #55565B;
  padding-top: 49px;
}

.attribution-container {
  position: fixed;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  font-size: 1.2rem;
  color: var(--blue);
}

.attribution-link:link,
.attribution-link:visited {
  color: var(--blue-opacity);
  transition: all 0.2s;
}

.attribution-link:focus,
.attribution-link:hover,
.attribution-link:active {
  color: var(--error);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  body {
    background-color: var(--bcg);
    background-image: url(/images/bg-tablet-pattern.svg), url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -158px left 234px, top 1064px left -415px;
    background-size: 591px auto, 571px auto;
    ;
  }

  .header {
    width: 768px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    /* padding: 45px 68px 48px 42px */
  }

  .logo {
    justify-self: start;
  }

  .menu-link {
    font-size: 13px;

  }

  .btn-open {
    display: none;
  }

  .btn-header {
    display: inline-block;
    justify-self: end;
    margin-left: auto;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    position: static;
    justify-self: center;
    display: block;
    width: fit-content;
    max-width: fit-content;
    margin: 0 auto;
    background: transparent;
    transform: translateX(0);
  }

  .overlay {
    display: none;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
  }

  .menu-link {
    white-space: nowrap;
  }

  .btn-close {
    display: none;
  }

}

@media (min-width: 1024px) {
  body {
    background-position: top -198px left 516px, top 1217px left -445px;
    background-size: 833px auto, 654px auto;
  }

  .header {
    width: 1000px;
    padding: 56px 24px 120px 24px;
  }

  .logo {
    width: 147px;
    height: 24px;
    margin-right: 209px;
  }

  .menu {
    gap: 32px;
  }

  .btn {
    padding: 14px 32px 15px 32px;
  }

  .introduction {
    max-width: 1110px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 132px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .introduction-wrapper {
    align-items: flex-start;
    min-width: 445px;
    padding-top: 49px;
  }

  .title {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    text-align: left;
    padding-bottom: 16px;
  }

  .description {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding: 0 261px 40px 0;
  }

  .features {
    display: flex;
    max-width: 1110px;
    padding-bottom: 44px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feature-wrapper {
    max-width: 540px;
    padding-left: 0;
  }

  .feature-subtitle {
    background-color: transparent;
  }

  .num-span {
    margin-right: 28px;
  }

  .feature-description {

    padding: 0 4px 40px 100px;
  }

  .subtitle {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.71px;
    text-align: left;
    padding: 0 22px 24px 0px;
  }

  .description-subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding: 0 210px 0 0;
  }

  .testimonials {
    padding: 62px 17px 180px 18px;
  }

  .testimonial-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.71px;
    padding-bottom: 64px;
  }

  .carousel-wrapper {
    scroll-padding-left: 50%;
    scroll-snap-align: center;
    padding-bottom: 40px;
  }

  .testimonial {
    width: 540px;
    scroll-snap-align: center;
  }

  .testimonial-name {
    padding-bottom: 19px;
  }

  .inf {
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .carousel-dots {
    display: none;
  }

  .cta {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    padding: 62px 0;
  }

  .subtitle-cta br {
    display: none;
  }

  .subtitle-cta {
    width: 445px;
    padding: 51px 24px 29px;
    text-align: left;
    font-weight: 500;
    letter-spacing: -0.71px;
    line-height: 48px;
    padding-bottom: 0;
  }

  .footer-container {
    max-width: 1104px;
    display: grid;
    grid-template-areas: 'a b c' 'a b d';
    padding: 0px 24px 0px;
    position: relative;
  }

  .footer-wrapper--1 {
    grid-area: b;
  }

  .footer-wrapper--2 {
    grid-area: a;
    justify-self: start;
  }

  .footer-content {
    grid-area: c;
    justify-self: end;
  }

  .btn-footer {
    padding: 15.5px 23px;
  }

  .copyright {
    grid-area: d;
    justify-self: end;
  }

  .footer-wrapper {
    display: flex;
    gap: 0;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-links {
    width: 200px;
  }

  .social-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    pointer-events: auto;
  }

  .social {
    display: flex;
    gap: 13px;
    padding-bottom: 0;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }

  .logo-footer {
    margin-right: 8px;
    margin-bottom: 66px;
  }

  .copyright {
    align-self: flex-end;
    font-size: 13px;
    color: #FFFFFF80;
  }
}

@media(min-width:1224px) {
  body {

    background-position: top -291px left 817px, top 1151px left -404px;
    background-size: 944px auto, 701px auto;
  }

  .header {
    width: 1110px;
    padding: 56px 0 120px 0;
  }

  .introduction {
    padding-left: 0px;
    padding-right: 0px;
  }

  .img-intro {
    margin-right: -44px;
  }

  .features {
    padding-left: 0px;
    padding-right: 0px;
  }

  .cta {
    gap: 532px;
  }

  .footer-links {
    width: 255px;
  }

  .footer-container {
    padding: 0px 1px 0px;
  }
}