:root {
  --cyan: rgba(60, 179, 171, 1);
  --dark-cyan: rgba(20, 122, 115, 1);
  --black: rgba(0, 0, 0, 1);
  --gray: rgb(122, 122, 122);
  --bcg: rgb(242, 242, 242);
  --white: rgba(255, 255, 255, 1);
  --bg-body: rgb(250, 250, 250);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  position: relative;
  font-family: 'Commissioner', sans-serif;
  text-align: center;
  background-color: var(--bcg);
  background-color: var(--bg-body)
}

.header {
  background-image: url(images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.header-wrapper {
  padding: 3.2rem 2.4rem;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  display: none;
}

.nav-btn-label {
  display: inline-block;
  width: 1.6rem;
  height: 1.5rem;
  background-image: url(images/icon-hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s linear;
}

.nav-btn:checked~.nav-btn-label {
  background-image: url(images/icon-close-menu.svg);
  background-size: contain;
}

.nav-link-container {
  display: none;
  flex-direction: column;
  text-align: left;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 0.8rem;
}

.nav-btn:checked~.nav-link-container {
  display: inline-flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  box-shadow: 0rem -10rem 25rem 3rem black;
}

.nav-link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--black);
  text-decoration: none;
  padding: 2.4rem;
}

.nav-link:nth-child(even) {
  border-top: 0.1rem solid rgba(47, 47, 47, 0.1);
  border-bottom: 0.1rem solid rgba(47, 47, 47, 0.1);
}

.logo-mastercraft {
  margin-top: -2.8rem;
}

.main {
  position: relative;
  padding: 0 2.4rem 7.6rem;
}

.section-entry {
  margin-top: -5.8rem;
}

.card-entry {
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 2.4rem 2.7rem 1.6rem;
}

.paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--gray);
  padding: 0 2.6rem;
}

.btn-bookmark {
  display: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.container-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2.4rem 4rem;
}

.btn-entry {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--white);
  background-color: var(--cyan);
  border-radius: 3.35rem;
  border: transparent;
  padding: 1.8rem 4.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn-entry:hover {
  background-color: var(--dark-cyan);
}

.card-numbers {
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 0.8rem;
  padding: 0.7rem 2.4rem 4rem;
}

.heading-secondary {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: var(--black);
  padding-top: 2.5rem;
}

.paragraph-number {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--gray);
  /* border-bottom: 0.1rem solid var(--gray); */
  padding: 0.9rem 0 2.4rem;
}

.line {
  display: block;
  width: 8rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.line-cyan {
  position: relative;
  display: block;
  width: 28rem;
  height: 1.2rem;
  /* background-color: var(--cyan); */
  border-radius: 3.35rem;
  background-color: rgba(47, 47, 47, 0.05);
}

.line-full {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3.35rem;
  display: inline-block;
  background-color: var(--cyan);
  width: 80%;
  height: 100%;
}

.section-content {
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
  padding: 4rem 2.3rem;
  margin: 2.4rem 0 0;
}

.heading-content {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: left;
  color: var(--black);
  padding-bottom: 2.4rem;
}

.paragraph-content {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: left;
  color: var(--gray);
  padding-bottom: 2.5rem;
}

.paragraph-content-center {
  text-align: center;
}

.container-content {
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
  padding: 2.4rem 2.4rem;
  margin-bottom: 2.4rem;
  margin-top: 1rem;
}

.heading-tertiary {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: left;
  color: var(--black);
  padding-bottom: 0.8rem;
}

.heading-tertiary-cyan {
  color: var(--cyan);
  padding-bottom: 2.4rem;
}

.paragraph-content-card {
  padding-bottom: 2.4rem;
}

.container-select {
  text-align: left;
}

.strong {
  display: inline-block;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  padding-right: 0.8rem;
}

.heading-select {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.btn-select {
  margin-top: 2.4rem;
  padding: 1.55rem 3.1rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--white);
  background-color: var(--cyan);
  border-radius: 3.35rem;
  border: transparent;
  transition: all 0.2s linear;
}

.btn-select:not(.btn-out):hover {
  cursor: pointer;
  background-color: var(--dark-cyan);
}

.container-content-out {
  margin-bottom: 0;
  opacity: 0.5;
}

.btn-out {
  width: 15.7rem;
  background-color: var(--gray);
}

.modal-success {
  background-color: var(--white);
  border-radius: 0.8rem;
  padding: 3.2rem 2.4rem 4rem;
}

.heading-success {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--black);
  padding-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.btn-modal {
  min-width: 10rem;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 3.35rem;
  color: var(--white);
  background-color: var(--cyan);
  border: transparent;
  padding: 1.65rem 3.3rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn-modal:hover {
  background-color: var(--dark-cyan);
}

.wrapper-modal {
  display: none;
  position: absolute;
  top: -12rem;
  left: 2.4rem;
  right: 2.4rem;
  max-width: 73rem;
  background-color: var(--white);
  border-radius: 0.8rem;
  padding: 3.2rem 2.4rem;
  z-index: 1;
}

.wrapper-modal.show {
  display: block;
}

.wrapper-modal-1 .heading-content {
  padding: 0;
}

.wrapper-modal-2 {
  max-width: 54rem;
  margin: auto;
}

.container-modal-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-complete {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.heading-modal {
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: left;
  padding-bottom: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.heading-modal:hover {
  color: var(--cyan);
}

.heading-modal-cyan {
  color: var(--cyan);
}

.paragraph-modal {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: left;
}

.container-modal {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  padding: 2.4rem 0 3.2rem;
}

.container-modal.selected {
  border: 2px solid #3CB3AB;
}

.container-modal .paragraph-modal {
  padding-top: 2.4rem;
}

.container-modal-disabled {
  opacity: 0.4;
}

.container-info {
  padding: 0 2.4rem;
}

.container-project {
  display: flex;
  align-items: center;
}

.project-label {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.8rem;
  column-gap: 1.7rem;
}

.project-input {
  width: 2.4rem;
  height: 2.4rem;
  accent-color: rgb(0 164 153);
  margin-right: 1.6rem;
  cursor: pointer;
}

.project-input:hover~.project-label .heading-modal {
  color: var(--cyan);
}

.heading-secondary-modal {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: left;
  padding-top: 2.4rem;
}

.strong-modal {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-right: 0.8rem;
}

.container-price {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.6rem;
  margin-top: 2.45rem;
  padding: 2.35rem 2.4rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.container-price.show {
  display: flex;
}

.pledge {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #7A7A7A;
}

.form {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  width: fit-content;
}

.input-wrapper {
  position: relative;
  width: fit-content;
}

.input-wrapper>label {
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translateY(-50%);
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: .25;
}

.input-pledge {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-radius: 3.35rem;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 10rem;
  height: 4.8rem;
  text-align: center;
}

.input-pledge:focus {
  outline: 1px solid #3CB3AB;
}

.btn-modal-price {
  padding: 1.55rem 2.55rem;
}

.btn-price {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1.55rem 3.82rem;
}

.icon-close-modal {
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4988;
}

.overlay.show {
  display: block;
}

@media screen and (min-width: 500px) {
  .container-entry {
    padding: 4.8rem 4.8rem 4.8rem;
  }

  .line-cyan {
    width: 100%;
  }

  .container-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .heading-select {
    height: 4.8rem;
    align-items: center;
  }
}

@media screen and (min-width: 520px) {
  .container-price {
    justify-content: space-between;
  }
}

@media screen and (min-width: 750px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-image: url(images/image-hero-desktop.jpg);
    height: 40rem;
  }

  .header-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4.8rem 2.4rem;
  }

  .nav-btn-label {
    display: none;
  }

  .nav-link-container {
    position: static;
    display: flex;
    flex-direction: row;
    column-gap: 3.2rem;
    text-align: center;
    background-color: unset;
    border: unset;
    z-index: 1;
  }

  .nav-link {
    display: inline-flex;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--white);
    border-bottom: unset;
    padding: 0;
  }

  .nav-link:nth-child(even) {
    border: 0;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .main {
    width: 73rem;
    max-width: 73rem;
    margin: 0 auto;
    padding-bottom: 5.2rem;
  }

  .section-entry {
    margin-top: -9.6rem;
  }

  .heading {
    font-size: 2.8rem;
    line-height: 3.4rem;
    padding: 2.8rem 2.7rem 1.6rem;
  }

  .paragraph {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .container-entry {
    padding: 4rem 4.8rem 4.8rem;
  }

  .icon-bookmark {
    position: absolute;
  }

  .btn-bookmark {
    display: inline-flex;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--gray);
    border-radius: 3.35rem;
    background-color: rgba(47, 47, 47, 0.05);
    border: transparent;
    padding: 1.8rem 2.4rem 1.8rem 7.2rem;
  }

  .btn-bookmark.bookmarked {
    color: rgba(20, 122, 115, 1);
    background-color: rgba(20, 122, 115, 0.05);
  }

  .container-bookmark {
    transition: all 0.2s linear;
  }

  .container-bookmark:not(.bookmarked):hover {
    opacity: 0.6;
  }

  .btn-entry {
    padding: 1.8rem 3.76rem;
  }

  .card-numbers {
    padding: 0px 20px 40px 20px;
  }

  .wrapper-number {
    display: flex;
  }

  .digits {
    position: relative;
    padding: 2.3rem 6.2rem 1.3rem 4.8rem;
  }

  .line {
    position: absolute;
    width: 1px;
    height: 63px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .paragraph-number {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .section-content {
    padding: 4.8rem 4.8rem;
  }

  .heading-content {
    font-size: 2rem;
    line-height: 2.4rem;
    padding-bottom: 3.5rem;
  }

  .paragraph-content {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .container-content {
    margin-top: 1.6rem;
    padding: 3.8rem 3.2rem 3.2rem;
  }

  .container-bamboo {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .heading-tertiary {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .heading-tertiary-cyan {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .wrapper-modal {
    left: 0;
    right: 0;
  }

  .heading-success {
    margin-top: 4.75rem;
  }

  .container-modal .paragraph-modal {
    padding-top: 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-wrapper {
    width: 115rem;
  }

  .main {
    padding: 0 0 5.2rem;
  }
}