:root {
  --color-primary-blue: rgb(77, 126, 252);
  --color-primary-blue-border: rgba(77, 127, 252, 0.141);
  --color-secondary-pale-blue: rgb(194, 211, 255);
  --color-secondary-light-red: rgb(255, 82, 99);
  --color-gray: rgb(150, 150, 150);
  --color-very-dark-blue: rgb(21, 31, 41);
  --color-background: rgb(255, 255, 255);
  --color-light-blue: rgb(184, 199, 237);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Libre Franklin', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-background);
}
.main {
  width: 37.5rem;
}
.section {
  min-width: 30.2rem;
  text-align: center;
  margin-top: 8.1rem;
}
.section a img {
  min-width: 5.6rem;
  min-height: 2.4rem;
  cursor: pointer;
}
.heading {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 3.2rem;
  text-align: center;
  padding-top: 3.2rem;
  padding-bottom: 1.5rem;
  color: var(--color-gray);
}
.heading span {
  font-weight: 700;
  color: var(--color-very-dark-blue);
}
.paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--color-very-dark-blue);
  padding-bottom: 3.2rem;
}
input {
  min-width: 28.1rem;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
  line-height: 2rem;
  border-radius: 28px;
  padding-left: 3.2rem;
  outline: none;
}
input::placeholder {
  color: var(--color-light-blue);
}
input + span {
  display: none;
  padding-right: -3rem;
}
input.error {
  background-color: var(--color-background);
  border: 1px solid var(--color-secondary-light-red);
  outline: 1px solid var(--color-secondary-light-red);
  /* border: 1px solid var(--color-secondary-light-red); */
}
input.error + span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  width: 100%;
  /* background-color: var(--color-background); */
  color: var(--color-secondary-light-red);
  text-align: center;
  margin-top: 0.6rem;
}
.btn {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  min-width: 28.2rem;
  height: 4rem;
  color: var(--color-background);
  background-color: var(--color-primary-blue);
  border: none;
  border-radius: 28px;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 7.2rem;
}
.images img {
  display: inline-block;
  width: 32rem;
  height: 19.2rem;
  background: #fbfcff;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.06362);
  border-radius: 2.5px;
}
.social-media {
  padding-bottom: 4.2rem;
}
.social-media a {
  display: inline-block;
  width: 3.2rem;
  height: 3.1rem;
  line-height: 3.1rem;
  color: var(--color-primary-blue);
  border-radius: 50%;
  border: 1px solid var(--color-primary-blue-border);
  cursor: pointer;
}
.social-media a:hover {
  color: var(--color-background);
  background-color: var(--color-primary-blue);
}
.social-media a:not(:last-child) {
  margin-right: 1.2rem;
}
.social-media a i {
  width: 2rem;
  height: 3.1rem;
}
.footer-social {
  margin-top: 12rem;
  margin-bottom: 1.3rem;
}
.attribution {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--color-gray);
}
.footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: var(--color-primary-blue);
  font-size: 1.2rem;
}
.footer__link:link,
.footer__link:visited {
  color: var(--color-very-dark-blue);
  transition: all 0.2s;
}
.footer__link:focus,
.footer__link:hover,
.footer__link:active {
  color: var(--color-secondary-light-red);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .main {
    min-width: 100%;
  }
  .section a img {
    width: 9rem;
    height: 3.9rem;
    object-fit: contain;
  }
  .heading {
    font-size: 4.8rem;
    line-height: 6rem;
    padding-bottom: 1.6rem;
    padding-top: 4rem;
  }
  .paragraph {
    font-size: 2rem;
    line-height: 2.4rem;
    padding-bottom: 4rem;
  }
  form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 9.4rem;
  }
  input {
    min-width: 42.1rem;
    height: 5.6rem;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-left: 3rem;
  }
  input.error + span {
    padding-left: 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
    text-align: left;
  }
  .btn {
    font-size: 1.6rem;
    line-height: 1.9rem;
    min-width: 20rem;
    height: 5.6rem;
    text-align: center;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
    margin: 0 0 0 1.6rem;
  }
  .images img {
    width: 64rem;
    height: 38.3rem;
  }
  .social-media {
    padding-bottom: 7.2rem;
  }
  .attribution {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .footer-social {
    margin-top: 7.2rem;
    margin-bottom: 4.9rem;
  }
}
