.card {
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
  /* margin-bottom: 32px; */
  padding-bottom: 40px;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 80px;
}

.toggle span {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.switch {
  position: relative;
  width: 56px;
  height: 32px;
  border-radius: 999px;
  background: var(--gradient);
  border: none;
  padding: 4px;
  cursor: pointer;
}

.switch:hover {
  opacity: 0.9;
}

.thumb {
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.thumbRight {
  transform: translateX(24px);
}


.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
}


.active {
  color: var(--dark);
  font-weight: 700;
}

@media (min-width: 1024px) {
  .cardsWrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .toggle {
    gap: 24px;
    margin-bottom: 64px;
  }
}