.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 300px;
  background-color: var(--primary);
  padding-top: 32px;
}

.header-title {
  font-size: 26px;
  font-weight: 500;
  color: var(--text-on-primary);
}

@media (min-width: 768px) {
  .header {
    min-height: 280px;
  }
}