.search-bar {
  display: flex;
  border-radius: 15px;
  box-shadow: 0 50px 50px -25px #ffffff;
  overflow: hidden;
  /* width: 100%; */
}

.search-input {
  flex: 1;
  min-width: 0;
  height: 58px;
  font-size: 18px;
  border: none;
  color: var(--text);
  background-color: var(--elements);
  padding: 0 24px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  font-size: 24px;
  border: none;
  background-color: var(--text);
  color: var(--elements);
  padding: 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .search-bar {
    width: 555px;
    align-self: center;
  }
}