.search-bar {
  display: flex;
  border-radius: 15px;
  box-shadow: var(--shadow);
  overflow: hidden;
  /* width: 100%; */
}

.search-input {
  flex: 1;
  min-width: 0;
  height: 58px;
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--text);
  background-color: var(--elements);
  padding: 0 24px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  font-size: 24px;
  border: none;
  background-image: url(../assets/Arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-color: var(--text);
  color: var(--elements);
  padding: 0;
  /* transition: transform 0.2s ease, background-color 0.2s ease; */
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--button-hover);

}

.search-button:active {
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .search-bar {
    width: 555px;
    align-self: center;
  }
}