:root {
  --gray: #6e728e;
  --dark: #494c5f;
  --light: #f7f7ff;
  --blue: #696fdd;
  --gradient: linear-gradient(135deg, #a3a8f0, #696fdd);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: "Montserrat", sans-serif;
  background: #f7f7ff;
  background-image:
    url('/bg-top.svg'),
    url('/bg-bottom.svg');

  background-repeat: no-repeat, no-repeat;
  background-position: top right -200px, bottom left -200px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-width: 375px; */
  font-family: 'Montserrat', sans-serif;
  padding: 64px 24px;
}

.attribution {
  font-size: 12px;
  text-align: center;
  color: var(--gray);
  padding-bottom: 24px;
}

.attribution a {
  color: var(--blue);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}


@media (min-width: 1024px) {
  body {
    /* background-position: top right, bottom left; */
    background-position: top -10px right 240px, bottom 70px left 235px;
  }

  .app {
    max-width: 1050px;
    padding: 0;
    padding: 64px 24px;
  }
}