/* .search-bar { */
/* padding: 24px 16px; */
/* padding: 0px 16px; */
/* } */

.search-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--elements);
  border-radius: 5px;
  box-shadow: var(--shadow-small);
  padding: 12.5px;
}

.search-bar-input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
}

@media (min-width: 768px) {
  .search-bar-input {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {

  .search-bar-wrapper {
    max-width: 480px;
    width: 480px;
    padding: 16.5px;
  }

  .search-bar {
    padding: 0px 0px;
  }
}