* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #e3f4fc;
}

.app {
  min-height: 100vh;
}