:root {
  --orange: rgb(255, 125, 26);
  --light-orange: hsl(26, 100%, 71%);
  --orange-btn: rgb(255, 171, 106);
  --pale-orange: rgb(255, 237, 224);
  --dark-blue: rgb(29, 32, 37);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: rgb(255, 255, 255);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*1rem=10px*/
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.header {
  position: relative;
  width: 100%;
}

.navbar {
  min-width: 327px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 24px 23px 14px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: block;
  height: 20px;
  width: 137.5px;
}

.nav-btn {
  position: relative;
  border: none;
  outline: none;
  background: none;
  padding-top: 3px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-hamburger {
  display: block;
  width: 16px;
  height: 15px;

}

.group-ikon {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-left: 89.5px;
}

.cart-count {
  display: none;
  position: absolute;
  width: 19px;
  height: 13px;
  top: -2px;
  right: -5px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 10px;
  font-weight: 700;
  border-radius: 6.5px;
}

.cart-count.visible {
  display: inline-block;
}

.nav-cart {
  display: block;
  width: 22px;
  height: 20px;
}

.avatar {
  height: 24px;
  width: 24px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navigation {
  display: none;
  height: 100vh;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 0px 0px 25px;
  z-index: 3;
  background-color: var(--white);
}

.navigation-open {
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  line-height: 28px;
  font-weight: 700;
  font-size: 18px;
  list-style: none;
  gap: 20px;
  padding-top: 54px;
}

.menu-link {
  display: inline-flex;
  text-decoration: none;
  color: var(--dark-blue);
  transition: color 0.3s ease;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

.overlay-show {
  display: block;
}

.cart-dropdown {
  display: none;
  position: absolute;
  top: 76px;
  right: 0;
  left: 0;
  width: 360px;
  height: auto;
  border-radius: 10px;
  background-color: var(--white);
  z-index: 3;
  padding: 24px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cart-dropdown.visible {
  display: block;
}

.cart-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-blue);
  padding-bottom: 27px;
  border-bottom: 1px solid var(--light-grayish-blue);
  margin-bottom: 24px;
}

.cart-empty {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--grayish-blue);
  padding: 60px 0;
  text-align: center;
}

.cart-filled {
  display: none;
}

.cart-dropdown.empty .cart-empty {
  display: flex;
}

.cart-dropdown.filled .cart-filled {
  display: block;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.cart-item-thumbnail {
  width: 50px;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
  padding: 0 12px;
}

.cart-item-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.cart-item-price {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.strong-price {
  color: var(--dark-blue);
  padding-left: 7px;
}

.cart-item-delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-checkout {
  width: 100%;
  background-color: var(--orange);
  color: var(--white);
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 20px 50px -20px var(--light-orange);
  transition: background-color 0.2s ease;
}

.btn-checkout:hover {
  background-color: var(--orange-btn);
}

.cart-item-thumbnail {
  width: 50px;
  height: 50px;
}

.carousel {
  max-width: 445px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.carousel-wrapper {
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 100%;
}


.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-slide {
  height: 300px;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;

}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.carousel-btn.prev {
  left: 16px;
}

.carousel-btn.next {
  right: 16px;
}

.carousel-thumbnails {
  display: none;
}

.product {
  max-width: 445px;
  max-height: 425px;
  padding: 24px 24px 88px 24px;
  margin: 0 auto;
}

.product-details {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.85px;
  text-transform: uppercase;
  color: var(--orange);
  padding-bottom: 19px;
}

.product-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: var(--dark-blue);
  padding-bottom: 15px;
}

.product-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-grayish-blue);
  padding-bottom: 24px;
}

.product-price {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 26px;
  padding-top: 4px;
}

.price-current {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  color: var(--dark-blue);
  padding-right: 16px;
}


.price-discount {
  background-color: var(--pale-orange);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--orange);
  border-radius: 6px;
  padding: 3.5px 5px;
}

.price-original {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-decoration: line-through;
  color: var(--grayish-blue);
  padding-left: 90px;
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quantity-selector {
  min-width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 22px;
  background-color: var(--light-grayish-blue);
  border-radius: 10px;
}

.btn-select {
  border: none;
  background-color: transparent;
  color: var(--orange);
  transition: color 0.3s ease;
  cursor: pointer;
}

.quantity-value {
  font-size: 16px;
  font-weight: 700;
}

.icon-select {
  color: white;

}

.btn-add {
  min-width: 271px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--orange);
  color: var(--white);
  padding: 16px 0;
  gap: 15px;
  box-shadow: 0 20px 50px -20px var(--orange);
  transition: color 0.3s ease;
  cursor: pointer;
}

.btn-add:hover {
  background-color: var(--orange-btn);
}

.lightbox.hidden {
  display: none;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px 23px 14px;
  }

  .btn-open,
  .btn-close {
    display: none;
  }

  .navigation {
    display: block;
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    padding-left: 20px;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .menu {
    flex-direction: row;
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
    color: var(--dark-grayish-blue);
    gap: 32px;
    padding-top: 0;
  }

  .lightbox {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .lightbox-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .lightbox-content {
    position: relative;
    z-index: 1;
    max-width: 550px;
    width: 100%;
  }

  .lightbox-close {
    position: absolute;
    top: -20px;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  .lightbox-wrapper {
    position: relative;
  }

  .lightbox-track {
    display: flex;
    overflow: hidden;
    border-radius: 15px;

  }

  .lightbox-slide {
    display: block;
    width: 550px;
    height: 550px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .lightbox-slide.show {
    opacity: 1;
  }

  .lightbox-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }

  .lightbox-btn.prev {
    left: -28px;
  }

  .lightbox-btn.next {
    right: -28px;
  }

  .lightbox-btn,
  .lightbox-close {
    cursor: pointer;
    transition: filter 0.2s ease;
  }

  .lightbox-btn:hover img,
  .lightbox-close:hover img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(91%) saturate(748%) hue-rotate(346deg) brightness(101%) contrast(105%);
  }


  .lightbox-thumbnails {
    display: flex;
    gap: 31px;
    padding-top: 40px;
    justify-content: center;
  }

  .lightbox-thumbnails .thumb {
    width: 88px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid transparent;
    transition: all 0.2s ease;
  }


  .lightbox-thumbnails .thumb:hover,
  .lightbox-thumbnails .thumb.active {
    opacity: 1;
    border-color: var(--orange);
  }

  .light-thumb {
    width: 88px;
  }

  .lightbox-thumbnails .light-thumb {
    cursor: pointer;
    opacity: 1;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .lightbox-thumbnails .light-thumb:hover {
    opacity: 0.3;
    border-color: var(--orange);
  }


  .lightbox-thumbnails .light-thumb.active {
    opacity: 0.3;
    border-color: var(--orange);
  }

}


@media (min-width: 1015px) {
  .header {
    max-width: 1015px;
  }

  .group-ikon {
    gap: 46px;
    padding-left: 160px;
  }

  .avatar {
    height: 50px;
    width: 50px;
  }

  .menu-link {
    position: relative;
  }

  .menu-link::after {
    content: "";
    position: absolute;
    bottom: -46px;
    left: 0;
    height: 4px;
    width: 0;
    background-color: var(--orange);
    transition: width 0.3s ease;
  }

  .menu-link:hover::after {
    width: 100%;
  }

  .cart-dropdown {
    display: none;
    position: absolute;
    top: 76px;
    left: 740px;

  }

  .main {
    display: flex;
    gap: 90px;
    padding-top: 90px;
    border-top: 1px solid var(--light-grayish-blue);

  }

  .carousel-wrapper {
    height: 445px;
  }

  .carousel-btn {
    display: none;
  }

  .carousel-slide {
    height: 445px;
    border-radius: 10px;
  }

  .carousel-thumbnails {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .thumb {
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: opacity 0.3s ease, border 0.3s ease;
    cursor: pointer;
  }

  .thumb:hover,
  .thumb.active {
    opacity: 0.7;
    border-color: var(--orange);
  }

  .product {
    padding: 60px 0px 88px 0px;
  }

  .product-details {
    font-size: 13px;
    letter-spacing: 2px;
    padding-bottom: 19px;
  }

  .product-title {
    font-size: 44px;
    line-height: 48px;
    padding-bottom: 32px;
  }

  .product-description {
    font-size: 16px;
    line-height: 26px;
  }

  .product-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 32px;
  }

  .price-original {
    padding-top: 10px;
    padding-left: 0;
  }

  .price-discount {
    padding: 3.5px 10px;
  }

  .product-actions {
    flex-direction: row;
  }

  .quantity-selector {
    padding: 18px 16px;
    gap: 46px;
  }

  .btn-add {
    padding: 16px 74.5px;
  }

}

@media (min-width: 1281px) {
  .header {
    max-width: 1110px;
  }

  .navbar {
    padding: 19px 0px 23px 0px;
  }

  .navigation {
    padding-left: 56px;
  }

  .group-ikon {
    padding-left: 402px;
  }

  .cart-dropdown {
    top: 88px;
    left: 898px;
  }

  .main {
    gap: 125px;

  }

  .lightbox-close {
    top: -40px;

  }

}