:root {
  --main-color: rgb(36, 39, 66);
  --main-hover: rgb(54, 56, 78);
  --card-bg: rgb(255, 255, 255);
  --grey: hsl(231, 7%, 60%);
  --body-bg: rgb(30, 30, 47);
  --border-radius: 10px;
  --text-error: rgb(255, 98, 87);
  --text-success: #008000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg);
}