:root {
  --main-color: #4f46e5;
  --main-hover: #4338ca;
  --background-color: #f5f5f5;
  --body-bg: #1e1e2f;
  --border-radius: 10px;
  --text-error: #ff0000;
  --text-success: #008000;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--body-bg);
}