:root {
  --white: #FFFFFF;
  --black: #242A45;
  --blue: #5267DF;
  --gray: #979797;
  --red: #FA5959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  /* background-color: var(--white); */
  background-color: red;
}

.header {
  position: relative;
  padding: 40px 32px 0px;
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 149px;
  height: 25px;
}

.nav-btn {
  display: block;
  width: 18px;
  height: 15px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}

/*
.btn-open.hidden {
  display: none;
}


.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(201, 201, 201, 0.6),
      rgba(84, 84, 84, 0.8));
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}
*/
.navigation {
  /* display: none; */
  width: 325px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  padding-top: 40px;
  transform: translateX(-50%);
  z-index: 1;
}

.navigation.active {
  display: block;
}


.btn-close {
  position: absolute;
  top: 45px;
  right: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  /* display: none; */
  z-index: 2;
}

/*
.btn-close.active {
  display: block;
}
*/
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 25px;
}


.menu-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.31px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
  padding-top: 219px;
}