:root {
  --white: #FFFFFF;
  --black: #242A45;
  --overlay: rgb(36, 42, 69, 0.95);
  --blue: #5267DF;
  --gray: #979797;
  --red: #FA5959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--white);

}

.header {
  position: relative;
  padding: 40px 32px 0px;
  width: 100%;
  /* width: 375; */
  max-width: 1104px;
  margin: 0 auto;
  z-index: 4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: block;
  width: 149px;
  height: 25px;
  transition: filter 0.18s ease, opacity 0.18s ease;
  position: relative;
  z-index: 4;
  /* width: 149px;
  height: 25px; */
}

.menu-open .logo {
  position: relative;
  z-index: 5;
  content: url("images/logo-bookmark-light.svg");
}

.nav-btn {
  display: block;
  width: 18px;
  height: 15px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.navigation {
  display: none;
  width: 325px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  padding-top: 40px;
  transform: translateX(-50%);
  z-index: 6;
}

.navigation.active {
  display: block;
}


.btn-close {
  display: none;
  position: absolute;
  top: 45px;
  right: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 7;
}


.btn-close.active {
  display: block;
}

.btn-open.hidden {
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 25px;
}


.menu-link {
  width: 308px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.31px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  border: 1px solid transparent;
  padding: 11px 0;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.menu-link:hover {
  border: 1px solid var(--white);
}

/* .menu-link-login:hover {
  border: 1px solid var(--white);
  padding: 11px 118.5px;
} */

.menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
  padding-top: 219px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}