:root {
  --white: #FFFFFF;
  --black: #242A45;
  --overlay: rgb(36, 42, 69, 0.95);
  --blue: #5267DF;
  --gray: #979797;
  --red: #FA5959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--white);

}

.header {
  position: relative;
  padding: 40px 32px 0px;
  width: 100%;
  /* width: 375; */
  max-width: 1104px;
  margin: 0 auto;
  z-index: 4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: block;
  width: 149px;
  height: 25px;
  transition: filter 0.18s ease, opacity 0.18s ease;
  position: relative;
  z-index: 4;
  /* width: 149px;
  height: 25px; */
}

.menu-open .logo {
  position: relative;
  z-index: 5;
  content: url("images/logo-bookmark-light.svg");
}

.nav-btn {
  display: block;
  width: 18px;
  height: 15px;
  background: transparent;
  border: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.navigation {
  display: none;
  width: 325px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  padding-top: 40px;
  transform: translateX(-50%);
  z-index: 6;
}

.navigation.active {
  display: block;
}


.btn-close {
  display: none;
  position: absolute;
  top: 45px;
  right: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 7;
}


.btn-close.active {
  display: block;
}

.btn-open.hidden {
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 25px;
}


.menu-link {
  width: 308px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.31px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  border: 1px solid transparent;
  padding: 11px 0;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.menu-link:hover {
  border: 1px solid var(--white);
}

/* .menu-link-login:hover {
  border: 1px solid var(--white);
  padding: 11px 118.5px;
} */

.menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
  padding-top: 219px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.container {
  padding: 0 31px;
}


.hero {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 140px;
}

.illustration-hero {
  width: 313px;
  height: 209px;
}

.hero-wrapper {
  text-align: center;
  padding-top: 94px;

}

.title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.09px;
  /* text-align: center; */
  padding-bottom: 16px;
}

.description {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--black);
  opacity: 50%;

}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-top: 32px;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--white);
  border-radius: 5px;
  border: transparent;
  padding: 10px 21px;
}

.btn1 {
  background-color: var(--blue);
  color: var(--white);
}

.btn2 {
  background-color: var(--gray);
  color: var(--black);
}

.features {
  text-align: center;
}

.features-wrapper {
  max-width: 730px;
  padding-bottom: 72px;
  margin: 0 auto;

}

.subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.08px;
  color: var(--black);
}

.features .description {
  padding-bottom: 40px;
}

.features-tabs {
  /* padding-bottom: 72px; */
  list-style: none;
  border-top: 1px solid var(--gray);
}

.tab {
  all: unset;
  display: block;
  width: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.53px;
  opacity: 0.75;
  color: var(--black);
  padding: 20px 0;

}

/* .features-tabs {
  border-top: 1px solid var(--gray);
} */

.tab+.tab {
  border-top: 1px solid var(--gray);
}

.tab:last-child {
  border-bottom: 1px solid var(--gray);
}

.tab.active {
  opacity: 1;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  width: 143px;
  height: 4px;
  background-color: var(--red);
}

.features-panels {
  text-align: center;
}

.illustration-features {
  width: 311px;
  height: 201px;
}

.panel {
  padding-bottom: 77px;
  display: none;
}

.panel.active {
  display: block;
}


.subtitle-panel {
  font-size: 24px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.08px;
  color: var(--black);
  padding-top: 69px;
}

.btn-info {
  background-color: var(--blue);
  padding-left: 26.5px;
  padding-right: 26.5px;
  margin-top: 15px;
}

.pricing {
  text-align: center;
}

.extension-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 16.5px 140px;
}

.cart {
  max-width: 280px;
  max-height: 371px;
  box-shadow: 0 10px 20px 5px rgba(73, 93, 207, 0.3);
  border-radius: 15px;
  padding: 49px 24px 24px;
}


.add {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding-top: 32px;
  padding-bottom: 6px;
}

.info {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 32px;
}

.info::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-image: radial-gradient(circle at center,
      rgba(73, 93, 207, 0.3) 2px,
      transparent 2px);
  background-size: 18px 6px;
  background-repeat: repeat-x;
}

.btn-extension {
  width: 100%;
  background-color: var(--blue);
  margin-top: 25px;
}

.questions {
  max-width: 541px;
  text-align: center;
  padding-bottom: 123px;
  margin: 0 auto;
}

.subtitle-questions {
  line-height: 30px;
  padding-bottom: 16px;
}

.faq {
  text-align: left;
  padding-top: 44px;
}

.faq-question {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
  list-style: none;
  border-bottom: 1px solid rgb(151, 151, 151, 0.8);
  padding-right: 32px;
  padding-bottom: 12px;
  padding-top: 20px;
  cursor: pointer;
}

.faq-question::-webkit-details-marker {
  display: none;
}

.faq-question::marker {
  display: none;
}

.faq-question::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 8px;
  background: url("images/icon-arrow.svg") no-repeat center;
  background-size: contain;
  transition: transform 0.3s ease;
}

.faq-item[open] .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faq-answer {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: var(--black);
  opacity: 75%;
  padding-top: 14px;
}

.btn-faq {
  background-color: var(--blue);
  margin-top: 48px;
  padding-left: 26.5px;
  padding-right: 26.5px;
}

.cta-wrapper {
  max-width: 442px;
  text-align: center;
  margin: 0 auto;
}

.cta {
  background-color: var(--blue);
  padding: 60px 32px;
  color: var(--white);
}

.cta-joined {
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 4.62px;
}

.cta-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.08px;
  padding-bottom: 32px;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  position: relative;
}

.error-icon {
  display: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.error-message {
  display: none;
  font-size: 10px;
  font-style: italic;
  text-align: left;
  color: var(--white);
  background-color: var(--red);
  padding: 6px 12px;
  border-radius: 0 0 5px 5px;
  margin-top: -4px;
}

.form-field.error .cta-input {
  border: 2px solid var(--red);
  box-shadow: none;
}

.form-field.error .error-icon {
  display: block;
}

.form-field.error .error-message {
  display: block;
}



.cta-input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: rgb(36, 42, 69, 0.75);
  box-shadow: 0 8px 8px 4px rgba(73, 93, 207, 0.3);
  border: transparent;
  border-radius: 5px;
  padding: 10px 20px;
}

.cta-input:focus,
.cta-input:focus-visible {
  outline: none;
  box-shadow: none;
}


.cta-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0 8px 8px 4px rgba(73, 93, 207, 0.3);
  border: transparent;
  border-radius: 5px;
  padding: 10px 20px;
}

.footer {
  text-align: center;
  background-color: var(--black);
  padding: 40px 113.5px 43px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding-top: 39px;
  padding-bottom: 48px;
}

.footer-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.73px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media (min-width: 768px) {
  .header {
    display: flex;
  }

  .overlay,
  .btn-open,
  .btn-close {
    display: none;
  }

  .navigation {
    display: block;
    position: static;
    transform: none;
    width: auto;
    padding-top: 0;
  }

  .menu {
    flex-direction: row;
    gap: 48px;
    padding-top: 0;
  }

  .menu-link {
    width: fit-content;
    color: var(--black);
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 0;
  }

  .menu-link:hover {
    color: var(--red);
    border: none;
  }

  .menu-link-login {
    background-color: var(--red);
    color: var(--white);
    padding: 12px 32px;
    border-radius: 5px;
  }

  .menu-link-login:hover {
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
  }

  .menu-social {
    display: none;
  }

  .description {
    /* max-width: 540px; */
    font-size: 18px;
    line-height: 28px;
    margin: 0 auto;
  }

  .features .description {
    max-width: 540px;
    padding-bottom: 72px;
  }

  .features-tabs {
    display: flex;
    justify-content: center;
    gap: 60px;
    border-bottom: 1px solid var(--gray);
    border-top: none;
  }

  .tab {
    border: none;
    padding: 0 0 30px;
  }

  .tab.active::after {
    bottom: -1px;
  }

  .tab:last-child {
    border-bottom: none;
  }

  .subtitle {
    font-size: 32px;
    letter-spacing: -0.1px;
    padding-bottom: 16px;
  }

  .cta-form {
    flex-direction: row;
    justify-content: center;
  }

  .cta-joined {
    font-size: 13px;
  }

  .cta-title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.1px;
    padding-bottom: 36px;
  }

  .cta-input {
    width: 300px;
  }

  .cta-btn {
    width: 100%;
  }

  .footer {
    padding: 32px 50px 31px;
  }

  .footer-container {
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .footer-left {
    display: flex;
    align-items: center;
    gap: 63px;
  }

  .footer-menu {
    flex-direction: row;
    gap: 44px;
    padding: 0;
  }

  .footer-link {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: var(--white);
  }

  .footer-socials {
    height: 24px;
    gap: 40px;
  }
}

@media(min-width:1024px) {
  .hero {
    max-width: 1184px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 65px;
    /* text-align: left; */
    overflow: hidden;
    padding-top: 108px;
    padding-bottom: 180px;
    margin: 0 auto;
  }

  .illustration-hero {
    width: 579px;
    height: auto;
    flex-shrink: 0;
    margin-right: -160px;
    order: 2;
  }

  .hero-wrapper {
    width: 540px;
    flex-shrink: 0;
    text-align: left;
    padding-top: 71px;
    order: 1;
  }

  .title {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    padding-bottom: 24px;
  }

  .btn-wrapper {
    justify-content: flex-start;
    gap: 16px;
    padding-top: 32px;
  }

  .btn {
    padding: 10px 28px;
  }

  .features-panels {
    max-width: 1106px;
    margin: 0 auto;
  }

  .panel {
    padding-bottom: 238px;

  }

  .panel.active {
    display: flex;
    align-items: center;
    gap: 125px;
  }

  .illustration-features {
    width: 536px;
    height: auto;
  }

  .panel-text {
    text-align: left;
  }

  .subtitle-panel {
    font-size: 32px;
    letter-spacing: -0.1px;
    padding-top: 57px;
    padding-bottom: 16px;
  }

  .features .description {
    padding-bottom: 32px;
  }

  .btn-info {
    margin-top: 0;
  }

  .extension-wrapper {
    /* max-width: 911px; */
    flex-direction: row;
    justify-content: center;
    gap: 37px;
    padding: 48px 16.5px 149px;
    margin: 0 auto;
  }

  .cart:nth-child(2) {
    margin-top: 40px;
  }

  .cart:nth-child(3) {
    margin-top: 80px;
  }

  .pricing .description {
    max-width: 541px;
  }

  .questions {
    padding-bottom: 150px;
  }

  .faq {
    padding-top: 56px;
  }

  .faq-question {
    font-size: 18px;
    padding-bottom: 13px;
    padding-top: 19px;
  }

  .btn-faq {
    margin-top: 54px;

  }

  .cta {
    padding: 58px 32px 74px;
  }

  .cta-joined {
    padding-bottom: 24px;
  }


}