.header {
  width: 100%;
  background-color: var(--elements);
  box-shadow: var(--shadow-small);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-title {
  font-size: 14px;
  font-weight: 800;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 24px;
  }
}