.comment-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: var(--radius);
  background: var(--color-white);
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  padding: 16px;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.comment-header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.comment-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.comment-user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: medium;
  color: var(--color-text-main);
}

.comment-you {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 4px;
  padding: 2px 6.5px;
}

.comment-username {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-main);
}

.comment-time {
  font-size: 16px;
  color: var(--color-text-secondary);
}

.comment-content {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-score {
  display: flex;
  align-items: center;
  gap: 12px;

  background: var(--color-bg);
  padding: 10.5px 20px;
  border-radius: 10px;
}

.comment-score button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-primary);
  font-weight: bold;
}

.comment-actions {
  display: flex;
  gap: 16px;
}

.comment-actions-desktop {
  display: none;
}

.comment-actions button,
.comment-actions-desktop button {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 16px;
  font-weight: 500;

  color: var(--color-primary);
  background: none;
  border: none;
  cursor: pointer;
}

.comment-actions button:hover {
  color: var(--color-primary-light);
}

.replies {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-left: 2px solid var(--color-border);
  padding-left: 16px;
  margin-top: 12px;
}

.replying-to {
  color: var(--color-primary);
  font-weight: 500;
  margin-right: 4px;
}

.replies .comment {
  max-width: 100%;
  margin: 0;
}

.comment-actions img {
  width: 12px;
  height: 12px;
}

.comment-actions .delete {
  color: var(--color-danger);
}

.comment-actions .delete:hover {
  color: var(--color-danger-light);
}

.comment-score img {
  display: block;
}

.comment-score button:hover {
  opacity: 0.6;
}

button {
  transition: all 0.2s ease;
}

/* .app-input {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "textarea textarea"
    "avatar button";
  gap: 16px;
  align-items: flex-start;
  background: var(--white);
  padding: 16px;
  border-radius: var(--radius);
}

.app-textarea {
  grid-area: textarea;
  width: 100%;
  min-height: 96px;
  font-size: 16px;
  line-height: 24px;
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  padding: 12px 14px 12px 24px;
}

.app-avatar {
  grid-area: avatar;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.app-button {
  grid-area: button;
  justify-self: end;
  font-size: 16px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--radius);
  padding: 15px 33.4px;
  cursor: pointer;
}

.app-button:hover {
  background: var(--color-primary-light);
} */


/* .modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  animation: fadeIn 0.3s ease-out;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
  background: var(--color-white);
  border-radius: var(--radius);
  max-width: 400px;
  padding: 24px;
  animation: scaleIn 0.3s ease-out;
}

.modal h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-main);
  margin: 0;
}

.modal p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-secondary);
  margin: 0;
}

.modal-actions {
  display: flex;
  gap: 12px;
}

.modal-actions button {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: var(--radius);
  border: none;
  padding: 12px 5px;
  cursor: pointer;
}

.modal-cancel {
  background: var(--color-text-secondary);
  color: var(--color-white);
}

.modal-delete {
  background: var(--color-danger);
  color: var(--color-white);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
} */

@media (min-width: 768px) {

  .comment-layout {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 24px;
    row-gap: 14px;
    padding: 24px;
  }

  .comment-footer {
    grid-column: 1;
    grid-row: 1 / span 2;

    display: flex;
    justify-content: center;
  }

  .comment-score {
    flex-direction: column;
    gap: 21px;
    padding: 12.5px 12px;
  }

  .comment-header {
    grid-column: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comment-content {
    grid-column: 2;
  }

  .comment-actions-desktop {
    display: flex;
    gap: 10px;
  }

  .comment-actions {
    display: none;
  }

  .app-input {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "avatar textarea button";
    align-items: flex-start;
  }

  .replies {
    grid-column: 2;
    padding-left: 24px;
  }

  .replies .comment {
    width: 100%;
  }

  /* .modal {
    gap: 20px;
    padding: 32px;
  }

  .modal h3 {
    font-size: 24px;
  }

  .modal-actions {
    gap: 14px;
  } */

}