* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141519;
  font-family: "Overpass", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}